nav{
    width: 100%;
    /* background: #333; */
    color: rgb(39, 37, 35);
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: background-color 0.5s;
}
.nav-bar{
    margin-right: 40px;
}
.navbar.scrolled {
    background-color: #f6d2aa;
}
.logo{
    width: 150px;
    margin-left: 20px;
    transition: background-color 0.5s;
}
.logo-dark {
    background-color: #f6d2aa; /* Match with dark-nav background color */
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 0px 10px;
    font-size:8px;
}
.dark-nav{
    background: #f6d2aa;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}
/* media query */
@media (max-width: 1000px){
    .logo{
        width: 70px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
@media (max-width: 840px){
    nav{
        padding: 15px 0;
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items horizontally */
    }
    .logo {
        width: 70px; /* Adjusted width */
        margin-left: 0; /* Center the logo */
    }
    .nav-bar{
        display: none;
    }
    .navbar.scrolled .logo {
        background-color: #f6d2aa;
        transition: background-color 0.5s;
    }
}